$color-1: #4e15c8;
$color-2: #c466fe;
$white: #fff;
$text1: #1f1f21;
$text2: #666;
$text3: #999;

$border: #01284e;
.color1 {
  color: $color-1;
}
.text1 {
  color: $text1;
}
.text2 {
  color: $text2;
}
