.section-title {
 
  .title-borderLine {
    display: flex;
    margin-bottom: 30px;
    min-height: 1px;
    position: relative;
    width: 300px;
    &::before {
      content: "";
      bottom: 0px;
      max-width: 123px;
      height: 8px;
      width: 100%;
      position: absolute;
      background: #4d14c7;
      -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%);
      top: 0;
      left: 0;
    }
    &::after {
      content: "";
      border-bottom: 1px solid #4d14c7;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -2px;
      max-width: 211px;
      top: 7px;
      left: 0;
    }
  }
  h2{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.02rem;
    margin-bottom: 50px;
  }
  @include mw-768 {
    font-size: 32px;
  }
}
.section-content {
  text-align: center;
  font-size: 18px;
  color: $text2;
  @include mw-920 {
    font-size: 16px;
  }
}
.section-token {
  color: $text2;
  font-size: 18px;
  display: flex;
  align-items: center;
  @include mw-920 {
    font-size: 16px;
  }
}
.view-more {
  color: #c466fe;
  text-decoration: underline;
  text-align: center;
  display: block;
  margin: 24px 0;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.text-ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
.full-width {
  max-width: 1920px;
  margin: auto;
}
@-webkit-keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.border-t {
  border-top: solid 1px rgba(0, 0, 0, 0.08);
  height: 1px;
  margin-bottom: 20px;
}
.bold {
  font-weight: 600;
}
